@font-face {
  font-family: "Bebas-Neue";
  src: url("../BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-SemiBold.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100%;
  /* background-image: url('.././assets/css/js/fondo.png'); */
}

nav .brand-logo {
  display: block;
  text-align: center;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 200 auto;
  font-size: 3rem;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

button {
  outline: none !important;
  text-transform: none !important;
}

p {
  font-size: 18px;
}

.img-footer {
  width: 100%;
}

/** GLOBAL **/

.w-full {
  width: 100%;
}

.no-link {
  text-decoration: none !important;
  color: "#000" !important;
}

.line {
  background-color: rgba(250, 250, 250, 0.4);
  height: 1px;
  width: 90%;
  margin: 0 auto;
}

.list-style {
  list-style: none;
}

.scroll-inner {
  overflow: scroll !important;
}

.hover-menu:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.br-20 {
  border-radius: 20px;
}

.list-decoration {
  list-style: none;
}

.min-width {
  min-width: 80px;
}

.justify-text {
  text-align: justify !important;
}

.custom-border {
  border-radius: 30px !important;
}

.active {
  color: "#000";
  text-decoration: none;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-none:hover {
  color: rgba(159, 207, 224, 1) !important;
}

.blue-color {
  text-align: center;
  border-radius: 10px !important;
}

.hero {
  background-color: #e3f2fd;
  width: 100%;
  padding: 0 0 30px 0;
}

.navBar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-size: cover;
  background-position: top center;
  background-repeat: none;
}

.loader {
  position: absolute;
  top: 48%;
  left: 48%;
  z-index: 1000;
}

.black-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 260vh;
  z-index: 1000;
}

.dashed-box {
  height: 400px;
  width: 90%;
  border-radius: 20px !important;
  border: 5px dashed rgba(84, 164, 244, 0.2);
  background-color: #f7fafc;
}

.big-icon {
  font-size: 40px !important;
}

/** CARDS **/

.button-card {
  width: 100%;
  color: rgba(10, 82, 165, 1) !important;
  border-radius: 0 !important;
  transition: all 10s ease;
}

.button-card-share {
  width: 100%;
  color: rgba(218, 0, 13, 1) !important;
  border-radius: 0 !important;
  transition: all 10s ease;
}

.button-card:hover {
  transform: scale(1.6);
}

.button-card-share:hover {
  transform: scale(1.6);
}

.card-2 {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #fff !important;
}

.card-2:hover {
  background-color: rgba(17, 117, 177, 0.8) !important;
}

.card-pqrs {
  height: 400px;
  min-height: 400px;
  border-radius: 30px !important;
}

.card-pqrs-2 {
  height: 230px;
  border-radius: 30px !important;
}

.card-pqrs-3 {
  height: 250px;
  border-radius: 30px !important;
}

.card-pqrs-header {
  height: 50px;
  text-align: center !important;
}

.card-pqrs-header-2 {
  height: 70px;
  text-align: center !important;
}

.card-pqrs-header-3 {
  height: 120px;
  text-align: center !important;
}

.card-pqrs-content {
  height: 250px;
  text-align: justify;
}

.card-pqrs-actions {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  height: 30px;
  text-align: center !important;
  align-items: flex-end;
}

.image-footer {
  width: 90%;
  margin: 20% auto;
}

.social-media {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.social-media-item {
  background-color: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12.5px 0;
  margin-right: 10px;
  text-decoration: none !important;
  color: white !important;
}

.social-media-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.entity {
  margin: 20px 0 20px 40px;
  padding-right: 10px;
  color: #08539f;
}

/** MATERIAL UI STYLES **/

.MuiDialog-paper {
  border-radius: 20px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

/** Login Styles **/

.login-content {
  height: 100vh;
  background-image: linear-gradient(90deg, #83d0f2, #ffffff);
}

img {
  width: 100%;
  height: 100%;
}

.box {
  background-color: #f7fafc;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  border-radius: 50px !important;
}

.btn-login {
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  will-change: transform;
  color: rgb(255, 255, 255);
  background-color: #11cdef;
  border-color: #11cdef;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  padding: 0.625rem 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.body {
  background-color: #0085dd;
}

.mockup {
  margin-left: 3rem;
}

* {
  margin: 0px;
}

.partesuperior {
  background-image: url("../assets/img/fondoparalogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 180px;
  margin-right: 180px;
  padding-left: 40px;
  padding-right: 40px;
  /* margin: 20%; */
}

.parteinferior {
  background-image: url("../assets/img/fondoparaloginabajo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 1rem;
  margin-left: 180px;
  margin-right: 180px;
  padding: 40px;
  text-align: center;
  font-family: "Bebas-Neue";
}

.parteinferior:hover {
  background-image: url("../assets/img/hoverhuellas.jpg");
}

.conredes {
  margin-left: 160px;
  margin-right: 160px;
  padding-left: 40px;
  padding-right: 40px;
}

.perro {
  position: relative;
  top: -25px;
  width: 200px;
  height: 240px;
  margin-top: 0px;
}

.googlehuella {
  margin-top: 1rem;
  width: 40px;
  height: 40px;
}

.facebookhuella {
  margin-top: 0rem;
  width: 40px;
  height: 40px;
}

.headerlogin {
  margin-left: 1rem;
  width: 200px;
}

.textointerno {
  color: #ffb714;
}

.logodefacebook {
  width: 10px;
}

.logodeinstagram {
  width: 20px;
}

.logodetwitter {
  width: 22px;
}

.foto-perfil {
  width: 250px;
  height: 400px;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.logoRegistro {
  width: 230px;
  height: 70px;
}

.googleRegistro {
  cursor: pointer;
}

/* MainPages */

.flex-container {
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 15% auto;
  height: 100vh;
  background-image: url("../assets/img/Grupo\ 409.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

.caja {
  /* border: 1px solid rgba(70, 69, 69); */
  text-align: center;
}

.c1 {
  height: 100vh;
  /* border: 1px solid rgba(70, 69, 69); */
  /* grid-row: 1/3; */
  font-size: 14px;
  font-family: "Montserrat";
  padding-top: 1rem;
}

.c2 {
  height: 15vh;
  /* border: 1px solid rgba(70, 69, 69); */
  /* grid-row: 1/1; */
  font-size: 14px;
  font-family: "Montserrat";
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: -4rem;
}

.c3 {
  height: 100vh;
  /* border: 1px solid rgba(70, 69, 69); */
  /* grid-row: 1/3; */
  font-size: 14px;
  font-family: "Montserrat";
}

.c4 {
  height: 100vh;
  /* border: 1px solid rgba(70, 69, 69); */
  /* grid-row: 2/2; */
  font-size: 14px;
  font-family: "Montserrat";
  padding: 1rem;
}

.lupa {
  width: 50px;
  height: 50px;
  margin: 0%;
}

.logoHamburguesa {
  margin-bottom: 0.5rem;
  margin: 0%;
  padding-right: 1rem;
  padding-left: 0rem;
  padding-bottom: 1rem;
  width: 100%;
  height: auto;
}

.busquedabarra {
  background-color: #f3f5f5;
  border-radius: 20px;
  border: 2px solid #ffb714;
  height: 2rem;
  width: 100%;
  margin-left: -3rem;
}

.servicios {
  margin-left: 1rem;
  width: 60px;
  margin-top: 1rem;
  height: 60px;
  margin-right: 1rem;
  margin: 0%;
}

.anuncios {
  font-size: 14px;
  font-family: "Montserrat";
  text-align: left;
}

.contenedores {
  padding: 0.5rem;
}

.verTodos {
  font-size: 14px;
  font-family: "Montserrat";
  text-align: right;
}

.fotos {
  height: 110px;
  width: 110px;
  margin-bottom: -1rem;
}

.feed {
  height: 700px;
  width: 350px;
}

.fotofeed {
  height: 90px;
  width: 90px;
  padding: 0;
}

.etiquetas {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
}

.historiaSubida {
  display: flex;
  justify-content: center;
  height: 130px;
  width: 130px;
}

.scroll {
  overflow-y: visible;
}

.contenedorFeed {
  padding: 2rem;
}

.tituloFeed1 {
  display: flex;
  justify-content: left;
  font-family: "Bebas-Neue";
  font-size: 30px;
  color: #81623c;
  padding: 0;
}

.tituloFeed2 {
  display: flex;
  justify-content: left;
  font-family: "Montserrat";
  font-size: 15px;
  padding: 0;
}

.tituloFeed3 {
  display: flex;
  justify-content: left;
  font-family: "Montserrat";
  font-size: 15px;
  color: #767070;
  padding: 0;
}

.fotoFeed1 {
  display: flex;
  justify-content: center;
  width: 90px;
  padding: 0;
}

.contenedorPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb714;
  padding: 0.25rem 1rem 1rem 1rem;
  border-radius: 15px;
  height: 70%;
  margin-top: 0.2rem;
  font-family: "Bebas-Neue";
  -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.contenedorNombre {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas-Neue";
  font-size: 18px;
  color: #8e5207;
}

.contenedorNotificación {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas-Neue";
  font-size: 18px;
  color: #8e5207;
}

.tendencia1 {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: "Bebas-Neue";
  font-size: 19px;
  color: #81623c;
  padding: 0;
}

.tendencia2 {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 0;
}

.tendencia3 {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: "Montserrat";
  font-size: 15px;
  color: #767070;
  padding: 0;
}

.anunciosDerecha {
  font-size: 14px;
  font-family: "Montserrat";
  text-align: right;
  margin-bottom: 1rem;
}

.puntos {
  display: flex;
  justify-content: right;
  align-items: right;
}

.descripcion {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.descripcionHora {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-top: 1rem;
  color: #8e5207;
}

.cantidadLikes {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  color: #8e5207;
  font-family: "Bebas-Neue";
  font-size: 25px;
}

.opcionesSpa {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.Spa {
  background-color: #ffff;
  border-radius: 20px;
  padding: 1rem;
  -webkit-box-shadow: 4px 7px 7px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 4px 7px 7px 1px rgba(0, 0, 0, 0.26);
}

.TitulosPaginas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas-Neue";
  font-size: 20px;
  padding-bottom: 1rem;
}

.InformacionServicio {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tamaño {
  width: 30px;
}

.ServicioTitulo1 {
  font-family: "Bebas-Neue";
  color: #8e5207;
  font-size: 25px;
}

.ServicioTitulo2 {
  font-family: "Montserrat";
  font-size: 16px;
}

.ServicioTitulo3 {
  font-family: "Montserrat";
  font-size: 14px;
}

.tituloVacuna {
  padding: 0 2rem 0 2rem;
}

.dialPrueba {
  background-color: #ffb714;
}

.floatmenu {
  position: fixed;
  top: -10%;
  left: 42.5%;
  max-width: 250px;
  max-height: 30vh;
  transition: all 0.3s ease;
  
}

.intern-circles {
  position: relative;
  max-width: 300px;
  max-height: 30vh;
  transition: all 0.3s ease;
}

.hidden-circles {
  position: relative;
  transform: translateY(-1000px);
  transition: all 0.3s ease;
}

.circle-1 {
  animation: rotation-1 80s infinite linear;
}

.circle-2 {
  position: absolute;
  top: 8%;
  left: -17.5%;
  width: 340px;
  animation: rotation-2 10s infinite linear;
}

.circle-3 {
  position: absolute;
  top: -12%;
  left: 0%;
  /*  transform: rotate(35deg); */
  height: 300px;
  animation: rotation-2 10s infinite linear;
}

.circle-5 {
  position: absolute;
  top: 8%;
  left: 19%;
  width: 160px;
  animation: rotation-2 30s infinite linear;
}
.circle-8 {
  position: absolute;
  top: 8%;
  left: 19%;
  width: 160px;
  animation: animate 3s linear infinite;
}

@keyframes animateBg
  {
0%{filter:hue-rotate(0deg); }
  
    100%{filter:hue-rotate(360deg); }
      }


.circle-6 {
  position: absolute;
  width: 400px;
  top: 7%;
  left: -30%;
  opacity: 0.8;
  animation: animateBg 5s linear infinite;
  
}
@keyframes animate
  {
    0%{transform: scale(1); }
  
    100%{transform: scale(0); }
      }


.circle-7 {
  position: absolute;
  width: 400px;
  top: 7%;
  left: -30%;
  opacity: 0.8;
  animation: animate 2s linear infinite;
  
}

/* .circle-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px!important;
    animation: rotation-2 30s infinite linear;
} */

.burger-menu {
  position: absolute;
  top: calc(74% - 60px);
  left: calc(64% - 60px);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger-menu:hover {
  filter: invert(10%);
}

.active-burguer-menu {
  position: absolute;
  top: 35%;
  left: calc(64% - 60px);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.active-burguer-menu:hover {
  filter: invert(10%);
}

.buttons-container {
  position: relative;
  transition: all 0.3s ease;
}

.buttons-container-hidden {
  position: relative;
  opacity: 0;
  transition: all 0.3s ease;
}

.icon-1 {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-2 {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-3 {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-4 {
  position: absolute;
  top: 10px;
  left: 175px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-5 {
  position: absolute;
  top: -260px;
  left: 5px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-6 {
  position: absolute;
  top: -290px;
  left: 60px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-7 {
  position: absolute;
  top: -290px;
  left: 120px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

.icon-8 {
  position: absolute;
  top: -260px;
  left: 175px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}

@keyframes rotation-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* FLOAT MENU STYLES END */

.TablaGeneral {
  padding-left: 2rem;
  padding-right: 2rem;
}

.encabezadoTabla {
  background-color: #ffb714;
}

.FotoDueños {
  width: 100%;
  height: auto;
}

.DatosPerfil {
  width: 100%;
  max-height: 70px;
}

.DogLeft {
  width: 65%;
  position: relative;
  top: -34rem;
}

.BackgroundLeft {
  margin-left: 0.45rem;
}

.ContInfo {
  position: relative;
  top: -34rem;
  font-size: 15px;
}

.ContInfoTitulo {
  font-family: "Bebas-Neue";
  font-size: 23px;
  color: #8e5207;
  padding-bottom: 1rem;
}

.ContInfoSubTitulo {
  font-family: "Montserrat";
  font-size: 16px;
  color: #8e5207;
  text-align: left;
  padding-left: 2rem;
}

.ContInfoSubTitulo2 {
  font-family: "Montserrat";
  font-size: 16px;
  text-align: left;
  padding-left: 2rem;
}

.SubTituloCont {
  padding-bottom: 1rem;
}

.BackgroundRight {
  margin-right: 0.45rem;
}

.RecordatoriosCont {
  position: relative;
  top: -10rem;
  margin-right: 0.45rem;
  
}

.Recordatorio {
  background-color: #fff;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  max-height: 75%;
}

.RecordatorioNaranja {
  background-color: #ffb714;
  border-radius: 15px 15px 0px 0px;
  max-height: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 1rem 0 1rem;
  
}

.TituloNotificación {
  font-family: "Montserrat";
  color: #8e5207;
  font-size: 16px;
  
}

.BotonNotificación {
  padding: 0.5rem;
}

.BotonSombras {
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

.nombreNotificación {
  font-family: "Montserrat";
  color: #8e5207;
  font-size: 21px;
  
}

.fechaNotificación {
  font-family: "Montserrat";
  color: #8e5207;
  font-size: 13px;
  
}

.icon2Title {
  width: 50px;
  height: 50px;
  
}

.iconTitle {
  width: 40px;
  height: 40px;
  
}
