@font-face {
	font-family: "Bebas-Neue";
	src: url("../BebasNeue-Regular.ttf") format("truetype");
  }
  
  html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 100%;
	/* background-image: url('.././assets/css/js/fondo.png'); */
  }
  
  nav .brand-logo {
	display: block;
	text-align: center;
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 200 auto;
	font-size: 3rem;
	color: #fff;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  * {
	font-family: "Roboto", sans-serif;
  }
  
  html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  * {
	font-family: "Roboto", sans-serif;
  }
  button {
	outline: none !important;
	text-transform: none !important;
  }
  
  p {
	font-size: 18px;
  }
  
  .img-footer {
	width: 100%;
  }
  
  /** GLOBAL **/
  
  .w-full {
	width: 100%;
  }
  
  .no-link {
	text-decoration: none !important;
	color: "#000" !important;
  }
  
  .line {
	background-color: rgba(250, 250, 250, 0.4);
	height: 1px;
	width: 90%;
	margin: 0 auto;
  }
  
  .list-style {
	list-style: none;
  }
  
  .scroll-inner {
	overflow: scroll !important;
  }
  
  .hover-menu:hover {
	color: rgba(0, 0, 0, 0.7) !important;
  }
  
  .br-20 {
	border-radius: 20px;
  }
  
  .list-decoration {
	list-style: none;
  }
  
  .min-width {
	min-width: 80px;
  }
  
  .justify-text {
	text-align: justify !important;
  }
  
  .custom-border {
	border-radius: 30px !important;
  }
  
  .active {
	color: "#000";
	text-decoration: none;
  }
  
  .text-decoration-none {
	text-decoration: none !important;
  }
  
  .text-decoration-none:hover {
	color: rgba(159, 207, 224, 1) !important;
  }
  
  .blue-color {
	text-align: center;
	border-radius: 10px !important;
  }
  
  .hero {
	background-color: #e3f2fd;
	width: 100%;
	padding: 0 0 30px 0;
  }
  
  .navBar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	background-size: cover;
	background-position: top center;
	background-repeat: none;
  }
  
  .loader {
	position: absolute;
	top: 48%;
	left: 48%;
	z-index: 1000;
  }
  
  .black-screen {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 260vh;
	z-index: 1000;
  }
  
  .dashed-box {
	height: 400px;
	width: 90%;
	border-radius: 20px !important;
	border: 5px dashed rgba(84, 164, 244, 0.2);
	background-color: #f7fafc;
  }
  
  .big-icon {
	font-size: 40px !important;
  }
  
  /** CARDS **/
  
  .button-card {
	width: 100%;
	color: rgba(10, 82, 165, 1) !important;
	border-radius: 0 !important;
	transition: all 10s ease;
  }
  
  .button-card-share {
	width: 100%;
	color: rgba(218, 0, 13, 1) !important;
	border-radius: 0 !important;
	transition: all 10s ease;
  }
  
  .button-card:hover {
	transform: scale(1.6);
  }
  
  .button-card-share:hover {
	transform: scale(1.6);
  }
  
  .card-2 {
	background-color: rgba(255, 255, 255, 0.3) !important;
	color: #fff !important;
  }
  
  .card-2:hover {
	background-color: rgba(17, 117, 177, 0.8) !important;
  }
  
  .card-pqrs {
	height: 400px;
	min-height: 400px;
	border-radius: 30px !important;
  }
  
  .card-pqrs-2 {
	height: 230px;
	border-radius: 30px !important;
  }
  
  .card-pqrs-3 {
	height: 250px;
	border-radius: 30px !important;
  }
  
  .card-pqrs-header {
	height: 50px;
	text-align: center !important;
  }
  
  .card-pqrs-header-2 {
	height: 70px;
	text-align: center !important;
  }
  
  .card-pqrs-header-3 {
	height: 120px;
	text-align: center !important;
  }
  
  .card-pqrs-content {
	height: 250px;
	text-align: justify;
  }
  
  .card-pqrs-actions {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
	height: 30px;
	text-align: center !important;
	align-items: flex-end;
  }
  
  .image-footer {
	width: 90%;
	margin: 20% auto;
  }
  
  .social-media {
	display: flex;
	text-align: center;
	margin: 0 auto;
  }
  
  .social-media-item {
	background-color: rgba(255, 255, 255, 0.1);
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 12.5px 0;
	margin-right: 10px;
	text-decoration: none !important;
	color: white !important;
  }
  
  .social-media-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .entity {
	margin: 20px 0 20px 40px;
	padding-right: 10px;
	color: #08539f;
  }
  
  /** MATERIAL UI STYLES **/
  
  .MuiDialog-paper {
	border-radius: 20px !important;
  }
  
  .font-size-20 {
	font-size: 20px !important;
  }
  
  /** Login Styles **/
  
  .login-content {
	height: 100vh;
	background-image: linear-gradient(90deg, #83d0f2, #ffffff);
  }
  
  img {
	width: 100%;
	height: 100%;
  }
  
  .box {
	background-color: #f7fafc;
	box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
	border-radius: 50px !important;
  }
  
  .btn-login {
	transition: all 0.15s ease;
	letter-spacing: 0.025em;
	font-size: 0.875rem;
	will-change: transform;
	color: rgb(255, 255, 255);
	background-color: #11cdef;
	border-color: #11cdef;
	box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
	padding: 0.625rem 1.25rem;
	line-height: 1.5;
	border-radius: 0.25rem;
  }
  
  .body {
	background-color: #0085dd;
  }
  
  .mockup {
	margin-left: 3rem;
  }
  
  * {
	margin: 0px;
  }
  
  .partesuperior {
	background-image: url("../assets/img/fondoparalogin.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-left: 180px;
	margin-right: 180px;
	padding-left: 40px;
	padding-right: 40px;
  
	/* margin: 20%; */
  }
  
  .parteinferior {
	background-image: url("../assets/img/fondoparaloginabajo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 1rem;
	margin-left: 180px;
	margin-right: 180px;
	padding: 40px;
	text-align: center;
  }
  
  .parteinferior:hover {
	
	background-image: url("../assets/img/hoverhuellas.jpg");
	
  }
  
  .conredes {
	margin-left: 160px;
	margin-right: 160px;
	padding-left: 40px;
	padding-right: 40px;
  }
  
  .perro {
	position: relative;
	top: -25px;
	width: 200px;
	height: 240px;
	margin-top: 0px;
  }
  
  .googlehuella {
	margin-top: 1rem;
	width: 40px;
	height: 40px;
  }
  
  .facebookhuella {
	margin-top: 0rem;
	width: 40px;
	height: 40px;
  }
  
  .headerlogin {
	margin-left: 1rem;
	width: 200px;
  }
  
  .textointerno {
	color: #ffb714;
  }
  
  .logodefacebook {
	width: 10px;
  }
  
  .logodeinstagram {
	width: 20px;
  }
  
  .logodetwitter {
	width: 22px;
  }
  
  
   
  
	.foto-perfil {
  
	  width: 250px;
	  height: 400px;
	  margin-top: 7rem;
	  margin-bottom: 5rem;
	}
  
	.logoRegistro {
  
	  width: 230px;
	  height: 70px;
	  
	}

	.googleRegistro{
  
		cursor: pointer;
		
	  }
	
  